body, h1 {
    font-size: 50px;
    color:black;
    text-align: center;
}


 .heroName, form { 
    font-size: 25px;
    margin:10px; 
    text-align: center;
}

.small {
    font-size: 25px;
    size: 200px; 
    display: inline-grid;
    margin: 10px; 
}
